<!-- Registration -->

<form  #registerForm="ngForm" (ngSubmit)="signin(registerForm.value)" action="" method="post">
  <div class="form-control">
    <label for="">Email:</label><br>
    <input type="email" ngModel name="email" placeholder="Enter Email">
  </div>
  <div class="form-control">
    <label for="">password:</label><br>
    <input type="password" ngModel name="password" placeholder="Enter Password">
  </div>
  <div class="btn">
    <button class="Signup">
     SignUp
    </button>
    <button class="SignIn">
      Signin
     </button>
  </div>
</form>

<!-- Adding Data to firebase -->

<form  #addForm="ngForm" (ngSubmit)="addData(addForm.value)">
  <div class="form-control">
    <label for="">Name:</label><br>
    <input type="name" ngModel name="name" placeholder="Enter Names">
  </div>
  <div class="form-control">
    <label for="">level:</label><br>
    <input type="text" ngModel name="level" placeholder="Enter Level">
  </div>
  <div class="form-control">
    <label for="">Course:</label><br>
    <input type="text" ngModel name="course" placeholder="Enter Courses">
  </div>
  <div class="btn">
    <button class="Signup">
     Add +
    </button>
  </div>
</form>

<ul>
  <li *ngFor="let item of data ">
    {{item.name }}
    {{item.level }}
    {{item.Course }}
    <button (click)="updateData(item.id)">
      Update
    </button>
  </li>
</ul>